# Build ja obj kaustad
bin/
obj/

# Unit test coverage reports
BuildReports/
*.coverage
*.cobertura.xml
*.html
*.xml

# VS Code ja Visual Studio seadistused
.vs
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates